<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs')  %>
<body>
    <%-include ('./partials/nav.ejs') %> 
    
    <div class="details content">
        <h2><%= blog.title  %> </h2>
        <div class="content">
            <p><%= blog.body %> </p>
           
        </div>
       <a class="delete" data-doc="<%= blog._id %> "> <i class="fa fa-trash-o" style="font-size: 24px;"></i> </a>

       <a class="update" data-upt="<%= blog._id %> "> <i class='fa fa-edit' style="font-size:24px; color: aliceblue;"></i> </a>

    </div>
    <%-include('./partials/footer.ejs')  %>
    <script>
        const trashcan = document.querySelector('a.delete')
        trashcan.addEventListener('click', (e) => {

            const endpoint = `/blogs/${trashcan.dataset.doc}`

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
        const updateButton = document.querySelector('a.update')

        updateButton.addEventListener('click', (e) => {
            const endpoint = (`/blogs/${updateButton.dataset.upt}`)

            fetch(endpoint, {
                 method: 'PATCH'
             })
             .then((response) => response.json())
             .then((data) => window.location.href = '/create' )
             .catch(err => console.log(err))

         })
        </script>


</body>
</html>